<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
   
  <form action="/new" method="post">
    name <input name="name"type="text">
    qoute <input name="quote" type="text"> 
    add my qoute<input type="submit">
    <a href="/quotes">go straight to the qoutes!</a>
  </form>



</body>
</html>